body {
    margin: 0;
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    background-color: black;
    font-size: 24px;
}

nav input {
    background-color: blueviolet;
    border: 0px;
    padding: 16px;
    font-size: 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
}

.container-main {
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 400px;
    background-color: #FB6C6C;
    color: white;
    padding: 24px;
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.main-info-container {
    display: flex;
    flex-direction: column;
}

.second-home-info {
    margin-left: 16px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.381);
    text-align: center;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.main-container-image {
    display: flex;
    align-items: flex-end;
}

#pokomon-Image {
    width: 250px;
    object-fit: contain;
    height: 150px;
}


/*Sepz Info*/

.d-none {
    display: none;
}

.container-spez-info {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-spez-info-width {
    width: 350px;
}

.dialog-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FB6C6C;
    color: white;
    padding: 10px 50px;
    padding-bottom: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 220px;
}

.dialog-types {
    margin-top: -12px;
    margin-left: 8px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.381);
    text-align: center;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#second-info-dialog {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: -36px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#second-info-dialog img {
    margin-top: -100px;
    margin-bottom: 20px;
}

.spez-info-container {
    font-size: 18px;
}

table {
    border-collapse: separate;
    border-spacing: 10px 15px;
}